* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(162, 210, 223);
}
header{
background-color: rgb(46, 56, 60);
height: 100px;
text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
button{
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(152, 248, 242) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}
h1{
  padding-top: 30px;
}
li{list-style: none;}
Img{
 
  border-radius: 50% 50%;
  border: solid 10px  rgb(215, 4, 102);
}

